.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 30px;
    margin-left: 10px;
}

.input {
    margin: 10px;

    background: #003300;
    color: #99ff99;
}

.input:focus {
    outline: none;
    border: #99ff99 solid 2px;
}

.errorInput {
    border: 2px solid red;
    outline: none;
}

.button {
    border: none;
    color: darkgreen;
    text-align: center;
    font-size: 17px;
    background-color: white;
    border-radius: 10px;
    padding: 3px 5px;
    margin-left: 10px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgb(39, 169, 17);
    cursor: pointer;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    margin-left: 10px;
    position: relative;
    font-size: 20px;
    background-color: black;
    color: #00ffff;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgb(0, 255, 255);
}

/*.newButton {*/
/*    margin: 10px;*/
/*    width: 60px;*/


/*    background: #003300;*/
/*    color: #99ff99;*/
/*    outline: none;*/
/*}*/
/*.newButton:focus {*/
/*    outline: #99ff99 solid 1px;*/
/*}*/
/*.newButton:active {*/
/*    background: #99ff99;*/
/*}*/
/*.button:disabled {*/
/*    color: #005500;*/
/*}*/